body {
  background-color: azure;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #4c6085;
  width: 70%;
  padding: 30px;
  border-radius: 8px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
#profile,
#login {
  margin-top: 120px;
}
#muscle-groups {
  width: 50%;
}
#search-muscle-group {
  width: 500px;
}
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #32322c;
}
.msguser,
.success {
  background-color: #9370db;
  color: #fffafa;
  width: 30%;
  padding: 10px 20px;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  /*margin: 5px auto;*/
  text-align: center;
}
/*.success {
  background-color: green;
  left: 75%;
}*/
.pencilsnow a,
li,
p,
.btn-search {
  color: snow;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
#navbar-workout {
  background-color: #36f1cd;
}

#btn-instructions {
  border: 3px solid #32322c;
}
.form-workout {
  margin-bottom: 30px;
}
.btn-search,
.btn-login,
.btn-register {
  background-color: #39a0ed;
  padding: 10px 20px;
  border-radius: 12px;
}
.btn-search:hover,
.btn-login:hover,
.btn-register:hover {
  background-color: azure;
  color: #39a0ed;
}
.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#save-video {
  margin: 0 auto;
}

/*****************************************/
/* save and delete anchor button on top right corner of video */
.video-wrapper {
  position: relative;
  display: inline-block;
}

/* The save '+' and delete 'X' anchor tag */
.delete-video,
.add-video {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Show '+' or 'X' when the iframe is hovered */
.video-wrapper:hover .delete-video,
.video-wrapper:hover .add-video {
  display: block;
}

/**************************************/

.auth {
  border: 3px solid snow;
  border-radius: 8px;
  text-align: center;
  width: 50%;
  margin: 50px 30px;
  padding: 100px 20px;
}
.auth a {
  color: #36f1cd;
}
.auth a:hover {
  color: snow;
}
