{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
'hidden'%} {% if field.widget.input_type == 'checkbox' %}
<div class="form-check">
  {{field.label(class_="form-check-label") }}
  {{field(class_="form-check-input")}}
</div>
{% else %}

<div class="form-group">
  {{ field.label }} {{ field(class_="form-control") }}

  <span>
    {% if field.errors %} {% for error in field.errors %}
    <b class="text-danger">{{ error }}</b>
    {% endfor %} {% endif %}
  </span>
</div>
{% endif %} {% endfor %}
