{% extends 'base.html' %} {% block title %} Workout {% endblock %} {% block
content %}
<div class="my-container" id="home">
  <div id="muscle-groups">
    <p>Search among the following exercise groups:</p>
    <ul>
      <li>Abdominals</li>
      <li>Abductors</li>
      <li>Adductors</li>
      <li>Biceps</li>
      <li>Calves</li>
      <li>Chest</li>
      <li>Forearms</li>
      <li>Glutes</li>
      <li>Hamstrings</li>
      <li>Lats</li>
      <li>Lower Back</li>
      <li>Middle Back</li>
      <li>Neck</li>
      <li>Quadriceps</li>
      <li>Traps</li>
      <li>Triceps</li>
    </ul>
  </div>
  <div id="search-muscle-group">
    <form class="form-workout">
      <input
        type="text"
        name="muscle"
        placeholder="muscle group, type at least 4 letters"
      />
      <button type="submit" class="btn-search">Search</button>
    </form>
    <section class="pencilsnow">
      {% for exercise in exercises %}
      <div>
        <a href="/videos?name={{exercise.name}}">{{ exercise.name }}</a>
      </div>
      {% for video in exercise.videos %}
      <div>
        <p>{{ video.title }}</p>
      </div>
      {% endfor %} {% endfor %}
    </section>
  </div>
</div>
{%if session['user_id'] %} {% endif %} {% endblock %}
