{% extends 'base.html' %} {% block title %} Register {% endblock %} {% block
content %}
<div class="my-container" id="register">
  <h1 class="pencilsnow">Sign Up</h1>

  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <h5>
      {{ field.label }} {{ field(class_="form-control") }} {% for error in
      field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </h5>
    {% endfor %}

    <button class="btn btn-register" type="submit">Register</button>
  </form>
</div>
{% endblock %}
