{% extends 'base.html' %} {% block title %} Exercise {% endblock %} {% block
content %}
<main class="container-md">
  <h2 class="text-center mt-4">Exercise: {{ name }}</h2>
  <!--<section>
    <ul>
      {% for video in videos %}
      <li>
        <a href="https://www.youtube.com/watch?v={{video.videoid}}">
          {{ video.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>-->
  <section class="videos">
    {% for video in videos %}
    <div class="video-wrapper">
      <iframe
        width="320"
        height="180"
        src="https://www.youtube.com/embed/{{video.videoid}}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <a href="auth/videos/add/{{name}}/{{video.videoid}}" class="add-video"
        >+</a
      >
      <!--<a href="/videos/add/{{name}}/{{video.videoid}}" id="save-video" class="btn btn-success text-light d-block">Save</a>-->
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
